@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.isNews)
{
    <div id="bodyNews">
    <div id="Loader"></div>
    </div>
    <script>
        $(function () {
            $("#bodyNews").load('@Url.Action("GetNewsFor", "Home", new { id = ViewContext.RouteData.Values["id"] })');
        });
    </script>
    <div>

    </div>
}
else
{
    <div id="bodyContent">
        @(new HtmlString(ViewBag.Content))
    </div>
}

