@model Models.Seating


<div id="bodyContent">
    <h2 style="margin-bottom:40px;">
        Seating
    </h2>
    <div class="spacer"></div>
    <br />
    <div id="seatingContainer">
        @(new HtmlString(Model.Content))
    </div>
</div>
