<div id="bodyContent">
    @using (Html.BeginForm("ValidateCommand", "PayPal"))
    {
        <div>
            <table>
                <tr>
                    <td>
                        product Name:
                    </td>
                    <td>
                        <input type="text" name="product" value="@ViewBag.Edition" readonly />
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Price:
                    </td>
                    <td>
                        €<input type="text" name="totalPrice" value="@ViewBag.Price" readonly />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="btnConfirm" value="Check Out with Paypal" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>